{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<h3 class="mb-4">📊 Painel de Incidentes</h3>

<div class="row">

    <div class="col-md-6">
        <div class="card bg-secondary text-light mb-3">
            <div class="card-body">
                <h5>🚨 Exploit Anomaly</h5>
                <p>Análise de exploração web</p>
                <a href="/case1" class="btn btn-danger">Abrir</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-secondary text-light mb-3">
            <div class="card-body">
                <h5>🌍 Login Anomaly</h5>
                <p>Login suspeito por localização</p>
                <a href="/case2" class="btn btn-warning">Abrir</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}