<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
</head>

<body>

<div class="container">
    <h2>🔐 Login</h2>
    <p>Entre com seu e-mail e senha</p>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST">
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('forgot_password') }}" class="link">
        Esqueci minha senha
    </a>
    <div class="footer">
        Security Operations Center
    </div>
</div>

</body>
</html>