{% extends "base.html" %}

{% block title %}Verificação{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card bg-secondary text-light shadow">
            <div class="card-body">

                <h4 class="mb-3">Verificação de Código</h4>

                <form method="POST">
                    <div class="mb-3">
                        <input name="code" class="form-control" placeholder="Digite o código" required>
                    </div>

                    <button class="btn btn-success w-100">Validar</button>
                </form>

                <a href="/resend" class="btn btn-warning w-100 mt-2">
                    Reenviar código
                </a>

            </div>
        </div>

    </div>
</div>

{% endblock %}